
@{
    Layout = "~/Views/Shared/_EditLayout.cshtml";
}

<div id="example">
    <div>
        <h4>Products</h4>
        <input id="products" style="width: 300px" />
    </div>

</div>

@section scripts{
    <script type="text/javascript" src="~/Areas/Test/Scripts/test/test-service.js"></script>
    <script type="text/javascript" src="~/Areas/Test/Scripts/test/test-edit.js"></script>
}

